<header class="header">
    <div class="row">
        <div class="col-4 company-logo">
            <img src="../../assets/images/logo/logo.png" alt="logo" style="width:50%">
        </div>
        <div class="col-8 p-2 center">
            <ul class="nav d-flex">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://forms.gle/htjqrehrnrhGBB3W8" target="_blank">Order Now</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">List</a>
                </li>
                <li class="nav-item d-flex ml-5">
                    <img class="whatsapp-size" src="../../assets/images/logo/whatsapp_icon.png" alt="logo">
                    <a class="nav-link pl-0" href="#">8858407320</a>
                </li>

            </ul>
        </div>

    </div>

</header>