<footer class="container-fluid bg-4 text-center">
    <header class="header">
        <div class="row">
            <div class="col-4">
                <img src="../../assets/images/logo/final design.png" alt="logo" height="100px" style="width:50%">
            </div>
            <div class="col-8 p-2 center">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Order Now</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">List</a>
                    </li>

                </ul>
            </div>

        </div>

    </header>
    <p>@copyright<a href="https://www.samaandelivery.com">www.samaandelivery.com</a></p>
</footer>