<section class="search-container">
    <div class="empty-box"></div>
    <div id="search-box" class="header">
        <h2>Search Item</h2>
        <input type="text" id="myInput" (input)="searchItem(itemListSheet, query)" placeholder="Item..." [(ngModel)]="query">
        <span onclick="searchItem(itemListSheet, query)" class="searchBtn">Search</span>
    </div>

    <div class="search-list">
        <table id="myTable" class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item Name(English & Hindi)</th>
                    <th scope="col">Price(rs)</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of currentSheet | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                    <td scope="row">{{i + 1}}</td>
                    <td>{{item["Item Name"] }}
                        <pre>{{'( '+ item["Item Name(Hindi)"] + ')'}}</pre>
                    </td>
                    <td>{{item["Price"]+'/'+item["Unit"]}}</td>
                </tr>

            </tbody>
        </table>
    </div>

    <!-- pagination -->
    <div class="center">
        <div class="pagination">
            <pagination-controls (pageChange)="p=$event"></pagination-controls>
        </div>
    </div>


</section>