<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/images/delivery-courasel/newspaper poster.jpg" alt="newpaper poster">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/delivery-courasel/home delivery.jpeg" alt="home delivery">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/delivery-courasel/phone shopping.jpg" alt="phone shopping">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/delivery-courasel/welcome.jpeg" alt="welcome">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/delivery-courasel/sale.jpeg" alt="sale">
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/delivery-courasel/product.jpeg" alt="product">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <div class="iframe">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdTN_SW2HjCWJJe1Tu-IfjL6_T75xlvGz_IkT782os3EHVZzQ/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>